<div class="main">
  
  <div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon"></div>
      <div class="title main">
        <span id="main-title">AndroidChroot</span>
        <span class="version" id="version">v1.0.0</span>
      </div>
      <div class="title sub" id="subTitle">Android in card project</div>
    </div>
  </div>

  <div id="StartButton" x-mojo-element="Button" class="affirmative"></div>
  <div id="StopButton" x-mojo-element="Button" class="negative"></div>
  <div x-mojo-element="TextField" id="textFieldInfo" class="palm-body-text" name="textFieldInfo"></div>
  <div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
  
</div>
